body{
 margin:0;
 padding:0;
}
#content{
 margin:30px;
 padding:30px;
 border:solid 1px black;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 background-color:#eee;
 -moz-box-shadow: 5px 5px 5px #888;
 -webkit-box-shadow: 5px 5px 5px #888;
 box-shadow: 5px 5px 5px #888;
}
#header {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 90px;
 background-image: url('/header-small.jpg');
 background-position: 50% 100%;
 text-align: center;
 border-bottom:solid 10px #222;
}
