@CHARSET "UTF-8";

/* Reduce padding on node links */
.node-links {
  padding-top: 0 !important;
}
/* Large text block */
.view-front-page-content li {
  margin: 0 !important;
}

.view-front-page-content li h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

/* Small blocks */
.view-front-page-blocks li {
  margin: 2px 0 10px 10px !important;
}

.view-front-page-blocks li p {
  margin: 5px 0;
}

.view-front-page-blocks li h1,.view-front-page-blocks li h2 {
  display: none;
}

/* Responsive */
.responsive-layout-normal .views_slideshow_cycle_main .slideshow_large>a>img,.responsive-layout-normal .views-slideshow-cycle-main-frame,.responsive-layout-normal .views-slideshow-cycle-main-frame-row,.responsive-layout-narrow .views_slideshow_cycle_main .slideshow_large>a>img,.responsive-layout-narrow .views-slideshow-cycle-main-frame,.responsive-layout-narrow .views-slideshow-cycle-main-frame-row
  {
  width: 492px !important;
  height: 375px !important;
}

.responsive-layout-narrow .views_slideshow_pager_field_item img,.responsive-layout-normal .views_slideshow_pager_field_item img
  {
  width: 126px !important;
  height: 93px !important;
}

/* Item list fix */
.page-scratchpads-front .block-system ul {
  margin-left: 30px;
}
