/**
 * Avoiod overflowing in the jquery dialog.
 */
html {
  overflow-x: hidden;
  padding: 5px;
}

/**
 * Styling for the references view rows
 */
#references-dialog-page .view-content .views-row {
  border: 1px solid #BBB;
  float: left;
  margin: 0 3px 3px 0;
  padding: 10px;
  width: 23%;
}
#references-dialog-page .view-content .views-row:hover {
  background-color: #EEE;
  cursor: pointer;
}
