
/**
 * @file
 * Provides the CSS for the Flowplayer Drupal module administration page.
 */

fieldset#flowplayer-color .form-item label {
  float: left;
  width: 125px;
}

#flowplayer-color-picker {
  float: right;
}

#flowplayer-color {
  float: left;
  width: 450px;
  margin-right: 20px;
}

#flowplayer-styling {
  float:left;
  padding-right: 30px
}

#flowplayer-preview-wrapper {
  clear: both;
}
