
/**
 * @file
 * OpenLayers Admin CSS
 *
 * This file holds CSS for the openlayers ui module
 *
 * @ingroup openlayers
 */

/**
 * Map Form
 */
.openlayers-form-projection-description,
.openlayers-form-layer-description {
  font-size: smaller;
  font-style: italic;
}

#openlayers-form-proj-msg {
  display:none;
}

div.openlayers-column-right input.form-text,
div.openlayers-column-left input.form-text { width:90%; }

div.openlayers-column-left {
  width:20%;
  float:left;
  }

div.openlayers-column-right {
  width:80%;
  float:right;
  }

span.openlayers-dependency-value {
  display: none;
}

span.openlayers-dependency-broken {
  font-size: smaller;
  display: none;
  color: red;
  }


/**
 * Behaviors table
 */
div.vertical-tabs table tbody tr fieldset {
  font-size: .85em;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #EEEEEE;
  position: inherit;
}


