/**
 * Override default textfield float to put the "Add role" button next to
 * the input textfield.
 */
#og-ui-user-admin-new-role td.edit-name {
  clear: both;
}
#og-ui-user-admin-new-role .form-item-name {
  float: left;
  margin-right: 1em;
}
