#!/bin/bash

export MYSQL_ROOT_PASSWORD="${MYSQL_ROOT_PASSWORD}"
export MYSQL_MASTER_HOST="${MYSQL_MASTER_HOST}"
export MYSQL_SLAVE_HOST="${MYSQL_SLAVE_HOST}"
export PROXYSQL_USER="${PROXYSQL_USER}"
export PROXYSQL_PASSWORD="${PROXYSQL_PASSWORD}"