@CHARSET "UTF-8";

#main-menu a,
#region-header #search-block-form div.form-actions input,
.view-front-page-slideshow .views-field-filename {
  background:transparent!important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
}

#region-secondary-menu ul.links li{
  float: right;
}

#region-header #search-block-form .form-type-textfield input{
  width: 190px!important;
}

#region-header #search-block-form .form-item input.form-text{
  background-position: 100% 9px!important;
}

h1, 
h1.site-name, 
h2.site-name,
h3{
  font-family: Georgia, serif !important;
}