@CHARSET "UTF-8";

.site-s2-sciaroidea-info #zone-header,
.site-sciaroidea-info #zone-header{
  padding-top: 0!important;
}

.site-s2-sciaroidea-info #zone-header #region-menu,
.site-sciaroidea-info #zone-header #region-menu{
  margin-top: 0!important;
}

.site-s2-sciaroidea-info #region-header #search-block-form,
.site-sciaroidea-info #region-header #search-block-form{
  margin-top: 20px!important;
}

.site-s2-sciaroidea-info h1.site-name,
.site-sciaroidea-info h1.site-name,
.site-s2-sciaroidea-info h2.site-name,
.site-sciaroidea-info h2.site-name{
  margin-top: 34px!important;
}