/**
 * $USER-MENU
 */
.block--system-user-menu {
  .menu {
    @extend %hlist;
  }
  a {
    padding: 0 0.6em;
    border-right: 1px solid $orange;
  }
  li:first-child a {
    padding-left: 0;
  }
  li:last-child a {
    padding-right: 0;
    border-right: 0;
  }
}
