.block-scratchpads-statistics .form-text {
  width: 100%;
}

.block-scratchpads-statistics {
  border: solid 1px #ccc;
  margin: 5px;
  padding: 5px;
  border:solid 1px white;
}

.block-scratchpads-statistics h5 {
  margin-bottom:3px;
}