.block-scratchpads-statistics .form-text {
  width: 100%;
}

.block-scratchpads-statistics {
  margin: 5px;
  padding: 5px;
  border:dotted 1px #ccc;
}

.block-scratchpads-statistics h5 {
  margin-bottom:3px;
}