# Ignore configuration files that may contain sensitive information and user-generated content
sites/*/settings*.php
sites/*/files
sites/*/private

# Examples/Devel modules
sites/all/modules/contrib/examples
sites/all/modules/contrib/devel

# Mac shite and SQL files
*.DS_Store
*.sql
*.dump

# Zend studio files
.buildpath
.cache
.project
.settings

# Development files
index2.php

# Files included for Vagrant that should not be committed
scratchpads_twitter.ini
