# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

*.DS_Store
*.sql
*.dump
.buildpath
.cache
.project
.settings
sites/all/modules/contrib/examples/
scratchpad_1_database.php
index2.php
cache
sites/default/files
sites/default/settings.php
