/* $Id: contemplate.css,v 1.2.4.2.2.2 2009/09/12 03:46:51 jrglasgow Exp $ */
div.contemplate-input .form-textarea {
  height: 200px;
  border: 1px solid #666;
  font-family: Profont, 'lucida console', Monaco, monospace;
}

div.contemplate-scroller {
  padding: 0 1em;
  height: 150px;
  overflow: auto;
  border: 1px solid #666;
  min-width: 300px;
}