$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

$red        : #b33630;

$yellow     : #d6c460;

$light-grey : #ddd;
$mid-grey   : #6a7076;
$dark-grey  : #222222;

