/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 50px;
  margin-right: $horz-spacing-unit;
}
.site-branding__name {
  @extend .gamma;
  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: $dark-blue;
  }
}
