@CHARSET "UTF-8";

/* --------------- Main Menu ------------ */

#main-menu {
  font-size: 0.929em;
  margin: 20px 0 0 0;
  padding: 0;

  /* Override default display:inline for RTL support */
  display: flex;
}
#main-menu li {
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}

#main-menu li.first{
  margin-left: 0;
}

#main-menu a {
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  float: left; /* LTR */
  height: 30px;
  line-height: 30px;
  padding: 0 0.8em;
  text-decoration: none;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#main-menu a:hover,
#main-menu a:focus {
  background: #fff;
}
#main-menu a:active, 
#main-menu a.active,
#main-menu a.active-trail{
  background: #fff;
}
#main-menu li a.active {
  border-bottom: none;
}


.light-tabs #main-menu a {
background: rgba(255, 255, 255, 0.7);
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a{
  background-color: #ffffff;
}

.tabs ul.primary a:hover {
  background: #FAFAFA;
}

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
