@CHARSET "UTF-8";

/***************** Overview page *******************/

/* Nomenclature block */

.view-species-nomenclature .item-list ul li{
  line-height: 2em;
  margin: 0;
}

.view-species-nomenclature div.label{
  float:left;
  clear: left;
  padding-right: 5px;
}

.view-species-nomenclature strong{
  font-weight: bold;
}