@CHARSET "UTF-8";

/***************** Overview page *******************/

/* Nomenclature block */

.view-species-nomenclature div.label,
.view-species-nomenclature div.views-label{
  float:left;
  clear: left;
  padding-right: 5px;
  font-weight: bold;
}
