#remote-issue-tab{
 font-family:arial,sans-serif;
 font-size:12px;
 font-weight:400;
 font-style:normal;
 letter-spacing:normal;
 word-spacing:0;
 text-align:left;
}
#remote-issue-tab h3{
 margin:0;
}
#remote-issue-tab .items h2{
 color:white;
 background-color:#555555;
 font-size:15px;
 font-weight:bold;
 margin:0;
 line-height:20px;
}
#remote-issue-tab .items,
#remote-issue-tab .items .empty {
  display: none;
}
#remote-issue-tab .items ul,
#remote-issue-tab .items .loading
#remote-issue-tab .items .empty{
 margin:0.5em 0 1em;
 padding:0;
}
#remote-issue-tab .items>ul>li{
 font-size:11px;
 background:none !important;
 padding:0.2em !important;
 border-top: 1px dotted #CCCCCC;
 list-style-type:none;
 padding:0.2em !important;
 margin: 0.15em 0 0.15em 0.5em !important;
}
#remote-issue-tab .items ul li.first{
 border-top:none;
}
#remote-issue-tab .items ul li h3 a{
  font-size:13px;
}
#remote-issue-tab .footer{
 background-color:#FFFFAA;
 padding:0px 0 1px 0;
}
#remote-issue-tab .footer p{
 padding:3px;
}
#remote-issue-tab .footer h2{
font-size:15px;
font-weight:bold;
}
#remote-issue-tab .footer h3{
font-size:13px;
font-weight:400;
}
#remote-issue-tab .footer h3 a{
font-size:13px;
font-weight:400;
}
#remote-issue-tab .header {
  margin: 0 1em 1em;
}
#remote-issue-tab .item-summary-heading {
  display: inline;
}

#remote-issue-tab .item-summary:hover {
  cursor: pointer;
}

#remote-issue-tab .item-summary:hover::after {
  content: 'expand';
  margin-left: 1em;
  opacity: 0.4;
}

#remote-issue-tab .label {
  border: 2px solid;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0 3px;
}

#remote-issue-tab .form-text {
  max-width: 100%;
}

#remote-issue-tab .item-time-ago {
    position: absolute;
    right: 20px;
    font-size: 0.6em;
    opacity: 0.7;
    padding-top: 2px;
}
