/**
 * @file
 * Theme for the progress behavior.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
  
  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .filled {
    background: #0072b9 image-url('misc/progress.gif');
  }
}
