body
{
    /* Font */
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;

    /* Text color */
    color: #222;

    /* Remove the background color to make it transparent */
    background-color: #fff;
}

ol,ul,dl
{
    /* IE7: reset rtl list margin. (#7334) */
    *margin-right:0px;
    /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
    padding:0 40px;
}

reference-citation,
fig-citation,
tbls-citation {
  background: #DDD;
  border: 1px dashed #AAA;
}