/**
 * @file
 * Styles for the block admin page.
 */
.blocks-admin .region-title {
  font-weight: bold;
}
.blocks-admin .region-message {
  font-weight: normal;
  color: #999;
}
.blocks-admin .region-populated {
  display: none;
}
