/**
 * @file
 * Admin styles for the poll module.
 */
/* Poll choice form on node form. */
.poll-choice-table .form-text {
  display: inline;
  width: auto;
}
.poll-choice-table .choice-flag {
  white-space: nowrap;
  width: 4em;
}
