tr.simpletest-fail td {
  background-color: #FFACAC !important;
}

tr.simpletest-pass td {
  background-color: #B6FFB6 !important;
}

tr.simpletest-exception td {
  background-color: #F4EA71 !important;
}

.front table.qa-overview{
  width:300px;
}

.qa-overview{
  margin:10px;
}