/**
 * @file
 * Styling for contextual links behaviour and structure.
 */
/**
 * Contextual links structure.
 */
.contextual-links-wrapper {
  left: 5px;
  right: auto;
}

.contextual-links-trigger {
  text-align: left;
}
