.blockexpose{
 top:20px;
 right:-375px;
 width:400px;	
 position:fixed;
 background-color:transparent;
 padding:0 !important;
 opacity:0.95;
 z-index:1001;
}
.blockexpose .content{
 margin:0 !important;
 padding-right:0;
}
.open-close{
 top:30px;
 position:absolute;
 height:100px;
 width:20px;
 border:solid 1px black;
 border-right: solid 1px #f5f5f5;
 float:left;
 padding:10px 0 10px 0;
 overflow:hidden;
}
.open-close:hover{
 cursor:pointer;
}
.open-close p{
  font-size:14px;
 color:#333;
 border:0px solid red;
 writing-mode:tb-rl;
 -webkit-transform:rotate(90deg);
 -moz-transform:rotate(90deg);
 -o-transform: rotate(90deg);
 white-space:nowrap;
 display:block;
 bottom:0;
 padding:0;
 margin:0;
}
.blockexpose .subcontent{
 font-size:80%;
 min-height:200px;
 float:right;
 width:373px;
 border: solid 1px black;
 border-right:none;
 padding:5px;
 padding-right:0;
}
.blockexpose .open-close, .blockexpose .subcontent, .blockexpose .footer{
 -moz-border-radius-topleft:5px;
 -webkit-border-top-left-radius:5px;
 -moz-border-radius-bottomleft:5px;
 -webkit-border-bottom-left-radius:5px;
}
.blockexpose .open-close, .blockexpose .subcontent{
 -moz-box-shadow: -3px 3px 3px #bbb;
 -webkit-box-shadow: -3px 3px 3px #bbb;
 box-shadow: -3px 3px 3px #bbb;
}
.open-close, .blockexpose .subcontent{
 background-color:#f5f5f5;
}