

.irf-container>div>div>* {
  float:left;
  width:51%;
  margin:1%;
}
.irf-container>div>div>.irf-targets {
  width:45%;
  float:right;
}
.irf-container>div>div>.irf-targets input {
  width:100%;
}

