// breakpoints
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1800px;

@mixin tiny-screen() {
  @media only screen and (max-width: $sm - 1) {
    @content;
  }
}

@mixin small-screen-and-up() {
  @media only screen and (min-width: $sm) {
    @content;
  }
}

@mixin medium-screen-and-up() {
  @media only screen and (min-width: $md) {
    @content;
  }
}

@mixin large-screen-and-up() {
  @media only screen and (min-width: $lg) {
    @content;
  }
}

@mixin wide-screen() {
  @media only screen and (min-width: $xl) {
    @content;
  }
}