.gm3-container{
 border-radius: 5px 0 0 5px;
 background-color:#f5f5f5;
 padding:5px;
 margin:0;
}
.gm3-tools{
 margin-top:30px;
 width:50px;
 padding:0;
 background-color:#eee;
 min-height:200px;
 float:left;
 border-radius: 5px 0 0 5px;
 overflow:hidden;
}
.gm3-tools h1{
 margin:0 0 2px 0;
 padding:0;
 text-align:center;
 font-family:Helvetica,Arial,Sans-serif;
 font-size:12px;
 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(40, 40, 40)), to(rgb(80, 80, 80)));
 background: -moz-linear-gradient(center top , rgb(40, 40, 40), rgb(80, 80, 80)) repeat scroll 0% 0% transparent;
 color:white;
 border-radius: 5px 0 0 5px;
}
.gm3-tools ul{
 padding:0 !important;
 margin:0 !important;
}
.gm3-tools ul li{
 padding:0 !important;
 margin:0 0 2px 0 !important;
 list-style:none;
 text-align: center; 
 position: relative;
 color: white;
 font-family: Arial,sans-serif;
 -moz-user-select: none;
 -webkit-user-select: none;
 font-size: 12px; 
 background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(109, 138, 204)), to(rgb(123, 152, 217)));
 background: -moz-linear-gradient(center top , rgb(109, 138, 204), rgb(123, 152, 217)) repeat scroll 0% 0% transparent;
 padding: 0pt 6px;
 border-radius: 5px 0 0 5px;
 border: 1px solid rgb(103, 138, 199);
}
.gm3-tools ul li:hover{
 font-weight: bold;
}
.gm3-map-wrapper{
 border-radius: 5px;
 overflow:hidden;
}
.gm3-map-wrapper, .gm3-tools ul, .gm3-tools{
 box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);	
 -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
}