.mapbox-branding {
  background: url(mapbox.png);
  float: left;
  clear: left;
  margin-right: 10px;
  width: 80px;
  height: 22px;
}

div.olMapViewport div.olControlPermalink {
  top: 5px;
  right: 10px;
  left: auto;
  bottom: auto;
  text-align: right;
}

div.olMapViewport div.olControlAttribution {
  right: auto;
  left: 15px;
  bottom: 10px;
}

