@CHARSET "UTF-8";

.checklist-list h3 {
	font-size: 14px;
	font-family: Verdana, Helvetica, Arial, sans-serif !important;
}

.checklist-list ul {
	list-style: none outside none;
	padding-left: 15px;
	margin-bottom: 0px;
}

.checklist-h1 {
	margin-bottom: 0px;
}

.em_checklist_1 {
	padding-left: 20px;
}

.em_checklist_2 {
	padding-left: 30px;
}

.em_checklist_3 {
	padding-left: 40px;
}

.em_checklist_4 {
	padding-left: 50px;
}

.em_checklist_5 {
	padding-left: 60px;
}