.form-type-options-tree li{
 list-style-type:none;
}
.form-type-options-tree ul{
 margin: 0 0 0 19px !important;
}
.form-type-options-tree input{
 margin:0 5px;
}
.form-type-options-tree{
	
}
.form-type-options-tree label{
	display:inline;
}
.options_tree_plus{
 padding:0;
 background-repeat:no-repeat;
 background-position:50% 50%;
}
.options_tree_plus.plus,.options_tree_plus.minus{
 cursor:pointer;
}
.options_tree_plus.plus{
 background-image:url('../images/plus.gif');
}
.options_tree_plus.minus{
 background-image:url('../images/minus.gif');
}
.options_tree_plus.leaf{
 background-image:url('../images/leaf.gif');
}