@import "variables/fonts";
@import "variables/colours";
@import "variables/misc";
@import "layouts/flex";
@import "mixins/media";

// BASICS ==============================================================================================================

html, body {
  font-family: $body-font;
  font-size: $font-size-body-md;
  color: $grey2;
}

// TYPOGRAPHY ----------------------------------------------------------------------------------------------------------
// base typography rules (can be overridden elsewhere)

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: 500 !important;
}

h1 {
  font-size: $font-size-head-lg;
  line-height: 1.2em !important;
  text-transform: none !important;

  // subtitle
  & span {
    font-size: 0.5em;
    padding-left: 6px;
    letter-spacing: normal;
  }
}

h2 {
  font-family: $body-font;
  font-size: $font-size-body-lg;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-head-sm;
  margin: 10px 0 5px 0;
}

blockquote {
  padding-left: 10px;
  font-style: italic;

  & em, & i {
    font-style: normal;
  }
}

sub {
  top: .5ex;
}

sup {
  bottom: 1ex;
}

sub, sup {
  height: 0;
  vertical-align: baseline;
  position: relative;
  font-size: $font-size-body-sm;
}

// UTIL ----------------------------------------------------------------------------------------------------------------
// basic classes that can be used on a wide variety of pages

.no-borders, .no-borders * {
  border: none !important;
}

.pad-children-h > * {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-children-v > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

.region--debug {
  background: none;
}

// LAYOUT ==============================================================================================================
// PAGE ----------------------------------------------------------------------------------------------------------------

.l-page {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.l-main {
  padding-left: $side-padding;
  padding-right: $side-padding;

  & .l-region {
    margin-bottom: 30px;
  }
}

// BRANDING ------------------------------------------------------------------------------------------------------------

.l-branding {
  padding: 10px $side-padding;
  min-height: 150px;
}

h1.site-name {
  & a {
    color: $grey11;
    text-decoration: none;
  }

  font-size: $font-size-head-xl !important;
  margin: 0;
}

h2.site-name {
  font-family: $title-font;
  font-size: $font-size-head-lg !important;
  line-height: 1.2em !important;
  text-transform: none !important;
  margin: 0;
}

.site-slogan {
  color: $grey10;
  font-style: italic;
  letter-spacing: normal;
  font-size: 1.2em;
  word-spacing: 0.1em;
  margin: 8px 0 5px 0;
  text-transform: none;
}


// HEADER --------------------------------------------------------------------------------------------------------------

.scratchpads-search-block-input {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'searchbox button' 'options options';
  grid-gap: 10px 20px;

  & > * {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  & > .form-actions {
    grid-area: button;

    & input {
      background: $grey0-alpha;
      color: $grey11;
      border: none;
      text-shadow: none;
      padding: 7px 12px;
      text-transform: uppercase;
      font-weight: normal;
      border-radius: 5px;
    }
  }

  & > .form-type-textfield {
    grid-area: searchbox;

    & > input {
      max-width: 200px;
    }
  }

  & > .form-type-radios {
    grid-area: options;
    padding-top: 0;
  }
}


// CONTENT -------------------------------------------------------------------------------------------------------------

.l-content {
  & h2 {
    color: $grey11;
    line-height: 1.1em;
    padding: 7px 10px 9px 10px;
    margin-bottom: 15px;
  }

  // TODO
  & article header h2 {
    margin-top: 35px;
  }

  & .block {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  // TODO
  & .embeded_image_float_left {
    float: left;
  }

  & .embeded_image_float_right {
    float: right;
  }

  .front & {
    // Allow for no breadcrumb on front page
    margin-top: 30px;
  }
}

.l-region--content {
  padding: 10px 0;

  & > div {
    display: grid;

  }
}

// MENUS ---------------------------------------------------------------------------------------------------------------

.navigation {
  padding: 0 $side-padding;

  & > ul {
    @extend .flex-row;
    list-style: none;

    & > li {
      padding: 10px;
      border-radius: 5px 5px 0 0;
      background-color: $grey0-alpha;

      &:hover, &.active, &.active-trail {
        background-color: $grey11;
      }
    }

    & a {
      color: $grey11;
      letter-spacing: normal;
      text-decoration: none;
      text-transform: uppercase;

      &:active, &:hover, &:focus, &.active, &.active-trail {
        color: $grey2;
      }
    }
  }
}

.tabs {
  @extend .flex-row;
  list-style: none;

  & > li {
    float: none;

    > a {
      color: $grey0;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
      border: 1px solid $grey5;
      margin-bottom: -1px;

      &.active {
        background-color: $grey11;
        border-bottom: 1px solid $grey11;
      }
    }
  }
}

// FRONT PAGE ==========================================================================================================

.welcome {
  margin-bottom: 20px;
}

// SLIDESHOW -----------------------------------------------------------------------------------------------------------

.views-slideshow-cycle-processed {
  display: flex;
  @include media-md-down {
    flex-direction: column;
  }
  @include media-lg-up {
    flex-direction: row;
  }

  & .title_only {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $grey0-alpha;
    z-index: 10;
    & h3 {
      color: $grey11;
      margin: 10px 10px 12px;
    }
  }

}

.views_slideshow_main {
  & img {
    max-width: 80vw;
    height: auto;
  }

  .views-slideshow-cycle-main-frame-row-item {
    position: relative;
  }
}

.views-slideshow-cycle-main-frame {
  width: 80vw !important;
  max-width: 619px;
  height: 100%;

  & > div {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
  }
}

.views-slideshow-pager-fields {
  display: grid;
  @include media-md-down {
    grid-template-columns: repeat(4, 25%);
    // this is the size of the main image set inline (I can't work out how to get rid of it so we're stuck with this)
    width: 80vw;
    max-width: 619px;
  }
  @include media-lg-up {
    grid-template-rows: repeat(4, 25%);
    // see above...
    height: 463px;
  }

  & > * {
    padding: 0 !important;
    display: block !important;
    overflow: hidden;

    @include media-md-down {
      width: auto;
      margin: 5px 5px 0 0;

      &:last-child {
        margin-right: 0 !important;
      }
    }

    @include media-lg-up {
      height: auto;
      margin: 0 0 5px 5px;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  & .active {
    position: relative;

    & img {
      border: none;
    }

    &::after {
      content: '';
      background-color: scale_color($grey0, $alpha: -50%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  & img {
    max-height: unset;
    max-width: unset;

    @include media-md-down {
      width: auto;
      height: 100%;
    }

    @include media-lg-up {
      height: auto;
      width: 100%;
    }
  }
}