@CHARSET "UTF-8";

/* publication_edit_form */

#taxon-treatment{
  margin-top: 1em;
}

#edit-field-publication-treatments .form-item{
  margin-bottom: 0!important;
  padding: 3px 0;
}


/* relation_select_add_relation_form */

/*#edit-list .form-type-item{
  width: 200px;
  display: inline-block;
  vertical-align: top;
}*/

#edit-list .form-type-item p{
  color: #777;
  font-size: 0.85em;
  margin: 0 0 0 20px;
}