/* Forms */

.form-layout-default .column-main .form-actions {
	display: block;
}

.column-main {
	width: 100% !important;
}

.form-layout-default {
	background: none;
}

/* Admin content table */

table.scratchpads-admin-content  caption{
  text-align: left;
  font-size: 1.2em;
  padding: 5px 0;
}

table.scratchpads-admin-content th.scratchpads-admin-content-operations{
  width: 180px;
}

table.scratchpads-admin-content th.scratchpads-admin-content-stats{
  width: 100px;
}

table.scratchpads-admin-content th.scratchpads-admin-content-operations,
table.scratchpads-admin-content th.scratchpads-admin-content-stats,
table.scratchpads-admin-content td:nth-child(2),
table.scratchpads-admin-content td:nth-child(3){
  text-align: center;
}

table.scratchpads-admin-content td{
  vertical-align: middle;
}

table.scratchpads-admin-content td .item-list li{
  display: inline;
  padding: 0 4px;
  border: none;
}

table.scratchpads-admin-content tr td:nth-child(1){
  padding-left: 55px;
  background-image: url("images/icons.png");
  background-repeat: no-repeat;
  background-position: 12px 50%;
  height: 50px!important;
}

/* VBO tables */
#views-form-admin-vbo-node-page table tr td.views-field-edit-node a,
#views-form-admin-vbo-file-page table tr td.views-field-fid a{
  margin: 0 5px;
}

/* Help system */

#overlay-titlebar{
  position: absolute;
  right: 0;
}

#overlay-titlebar #overlay-title-wrapper{
  position: absolute;
  right: 25px;
  top: 5px;
  min-width: 300px;
}
#overlay-titlebar #overlay-title-wrapper div.add-or-remove-shortcuts{
  position: static;
  float: right;
}

#overlay-titlebar #overlay-title-wrapper .help-shortcut a{
  background-image: url('images/help.png')!important;
  background-position: 5px 6px;
}

.region-help{
  padding: 10px 5px;
}

.region-help,
.region-help .block,
.region-help .block-content{
  background-color: #5CA2B6!important;
  border: none;
  color: #fff;
}

.region-help .block{
  margin-bottom: 0!important;
}

.region-help .block-content a{
  color: #C2DCE3;
  text-decoration: underline;
}

.js .region-help{
  display: none;
}