@CHARSET "UTF-8";

#formflow-ui-steps-form .column{
  width: 49%;
  float: right;
  margin-right: 1%;
}

#enabled-flows table{
  width: auto;
}

#enabled-flows table input.form-text{
  width: 85%;
}

#formflow-overview span.locked{
  background: url('../images/lock.png') no-repeat;
  display: block;
  padding-left: 25px;
}