body.scratchpad-colour-353535 .section-header{ background-color: #353535;}
body.scratchpad-colour-353535 #region-content h2{ background-color: #353535;}
body.scratchpad-colour-353535 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-353535 a{ color: #353535;}
body.scratchpad-colour-353535 h1{ color: #353535;}
body.scratchpad-colour-353535 #region-sidebar ul.menu ul li{ color: #353535;}
body.scratchpad-colour-353535 .sp-bg-colour{ background-color: #353535;}
body.scratchpad-colour-353535 .sp-colour{ background-color: #353535;}
body.scratchpad-colour-1F3661 .section-header{ background-color: #1F3661;}
body.scratchpad-colour-1F3661 #region-content h2{ background-color: #1F3661;}
body.scratchpad-colour-1F3661 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-1F3661 a{ color: #1F3661;}
body.scratchpad-colour-1F3661 h1{ color: #1F3661;}
body.scratchpad-colour-1F3661 #region-sidebar ul.menu ul li{ color: #1F3661;}
body.scratchpad-colour-1F3661 .sp-bg-colour{ background-color: #1F3661;}
body.scratchpad-colour-1F3661 .sp-colour{ background-color: #1F3661;}
body.scratchpad-colour-154D8C .section-header{ background-color: #154D8C;}
body.scratchpad-colour-154D8C #region-content h2{ background-color: #154D8C;}
body.scratchpad-colour-154D8C #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-154D8C a{ color: #154D8C;}
body.scratchpad-colour-154D8C h1{ color: #154D8C;}
body.scratchpad-colour-154D8C #region-sidebar ul.menu ul li{ color: #154D8C;}
body.scratchpad-colour-154D8C .sp-bg-colour{ background-color: #154D8C;}
body.scratchpad-colour-154D8C .sp-colour{ background-color: #154D8C;}
body.scratchpad-colour-047DB8 .section-header{ background-color: #047DB8;}
body.scratchpad-colour-047DB8 #region-content h2{ background-color: #047DB8;}
body.scratchpad-colour-047DB8 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-047DB8 a{ color: #047DB8;}
body.scratchpad-colour-047DB8 h1{ color: #047DB8;}
body.scratchpad-colour-047DB8 #region-sidebar ul.menu ul li{ color: #047DB8;}
body.scratchpad-colour-047DB8 .sp-bg-colour{ background-color: #047DB8;}
body.scratchpad-colour-047DB8 .sp-colour{ background-color: #047DB8;}
body.scratchpad-colour-2FA7C3 .section-header{ background-color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 #region-content h2{ background-color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-2FA7C3 a{ color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 h1{ color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 #region-sidebar ul.menu ul li{ color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 .sp-bg-colour{ background-color: #2FA7C3;}
body.scratchpad-colour-2FA7C3 .sp-colour{ background-color: #2FA7C3;}
body.scratchpad-colour-134823 .section-header{ background-color: #134823;}
body.scratchpad-colour-134823 #region-content h2{ background-color: #134823;}
body.scratchpad-colour-134823 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-134823 a{ color: #134823;}
body.scratchpad-colour-134823 h1{ color: #134823;}
body.scratchpad-colour-134823 #region-sidebar ul.menu ul li{ color: #134823;}
body.scratchpad-colour-134823 .sp-bg-colour{ background-color: #134823;}
body.scratchpad-colour-134823 .sp-colour{ background-color: #134823;}
body.scratchpad-colour-5F8B3D .section-header{ background-color: #5F8B3D;}
body.scratchpad-colour-5F8B3D #region-content h2{ background-color: #5F8B3D;}
body.scratchpad-colour-5F8B3D #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-5F8B3D a{ color: #5F8B3D;}
body.scratchpad-colour-5F8B3D h1{ color: #5F8B3D;}
body.scratchpad-colour-5F8B3D #region-sidebar ul.menu ul li{ color: #5F8B3D;}
body.scratchpad-colour-5F8B3D .sp-bg-colour{ background-color: #5F8B3D;}
body.scratchpad-colour-5F8B3D .sp-colour{ background-color: #5F8B3D;}
body.scratchpad-colour-67A53D .section-header{ background-color: #67A53D;}
body.scratchpad-colour-67A53D #region-content h2{ background-color: #67A53D;}
body.scratchpad-colour-67A53D #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-67A53D a{ color: #67A53D;}
body.scratchpad-colour-67A53D h1{ color: #67A53D;}
body.scratchpad-colour-67A53D #region-sidebar ul.menu ul li{ color: #67A53D;}
body.scratchpad-colour-67A53D .sp-bg-colour{ background-color: #67A53D;}
body.scratchpad-colour-67A53D .sp-colour{ background-color: #67A53D;}
body.scratchpad-colour-A5C033 .section-header{ background-color: #A5C033;}
body.scratchpad-colour-A5C033 #region-content h2{ background-color: #A5C033;}
body.scratchpad-colour-A5C033 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-A5C033 a{ color: #A5C033;}
body.scratchpad-colour-A5C033 h1{ color: #A5C033;}
body.scratchpad-colour-A5C033 #region-sidebar ul.menu ul li{ color: #A5C033;}
body.scratchpad-colour-A5C033 .sp-bg-colour{ background-color: #A5C033;}
body.scratchpad-colour-A5C033 .sp-colour{ background-color: #A5C033;}
body.scratchpad-colour-7C1227 .section-header{ background-color: #7C1227;}
body.scratchpad-colour-7C1227 #region-content h2{ background-color: #7C1227;}
body.scratchpad-colour-7C1227 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-7C1227 a{ color: #7C1227;}
body.scratchpad-colour-7C1227 h1{ color: #7C1227;}
body.scratchpad-colour-7C1227 #region-sidebar ul.menu ul li{ color: #7C1227;}
body.scratchpad-colour-7C1227 .sp-bg-colour{ background-color: #7C1227;}
body.scratchpad-colour-7C1227 .sp-colour{ background-color: #7C1227;}
body.scratchpad-colour-B72932 .section-header{ background-color: #B72932;}
body.scratchpad-colour-B72932 #region-content h2{ background-color: #B72932;}
body.scratchpad-colour-B72932 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-B72932 a{ color: #B72932;}
body.scratchpad-colour-B72932 h1{ color: #B72932;}
body.scratchpad-colour-B72932 #region-sidebar ul.menu ul li{ color: #B72932;}
body.scratchpad-colour-B72932 .sp-bg-colour{ background-color: #B72932;}
body.scratchpad-colour-B72932 .sp-colour{ background-color: #B72932;}
body.scratchpad-colour-E47C25 .section-header{ background-color: #E47C25;}
body.scratchpad-colour-E47C25 #region-content h2{ background-color: #E47C25;}
body.scratchpad-colour-E47C25 #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-E47C25 a{ color: #E47C25;}
body.scratchpad-colour-E47C25 h1{ color: #E47C25;}
body.scratchpad-colour-E47C25 #region-sidebar ul.menu ul li{ color: #E47C25;}
body.scratchpad-colour-E47C25 .sp-bg-colour{ background-color: #E47C25;}
body.scratchpad-colour-E47C25 .sp-colour{ background-color: #E47C25;}
body.scratchpad-colour-E9B61E .section-header{ background-color: #E9B61E;}
body.scratchpad-colour-E9B61E #region-content h2{ background-color: #E9B61E;}
body.scratchpad-colour-E9B61E #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-E9B61E a{ color: #E9B61E;}
body.scratchpad-colour-E9B61E h1{ color: #E9B61E;}
body.scratchpad-colour-E9B61E #region-sidebar ul.menu ul li{ color: #E9B61E;}
body.scratchpad-colour-E9B61E .sp-bg-colour{ background-color: #E9B61E;}
body.scratchpad-colour-E9B61E .sp-colour{ background-color: #E9B61E;}
body.scratchpad-colour-57508E .section-header{ background-color: #57508E;}
body.scratchpad-colour-57508E #region-content h2{ background-color: #57508E;}
body.scratchpad-colour-57508E #region-content h2 a{ color: #FFFFFF;}
body.scratchpad-colour-57508E a{ color: #57508E;}
body.scratchpad-colour-57508E h1{ color: #57508E;}
body.scratchpad-colour-57508E #region-sidebar ul.menu ul li{ color: #57508E;}
body.scratchpad-colour-57508E .sp-bg-colour{ background-color: #57508E;}
body.scratchpad-colour-57508E .sp-colour{ background-color: #57508E;}