@CHARSET "UTF-8";

#slickgrid div.slick-headerrow {
  display: none;
}

#slickgrid .slick-cell.l0,
#slickgrid .slick-header-column{
   text-align: left;
}

#slickgrid .slick-cell,
#slickgrid .character{
  text-align: center;
}

.character-editor-inline .bt-content,
.character-editor-header .bt-content{
  background: none;
  border: none;
  text-align: left;
}

.bt-content h2{
  margin: 0;
}

.bt-content span.character-type{
  color: #999;
  margin-bottom: 3px;
  font-size: 0.9em;  
}

.character-editor-inline span{
  display: block;
}

.field-name-field-char-image img{
  border: 1px solid #444;
}


.character-editor-inline span.state-delta,
.bt-content .field-collection-container .field-label{
  color: #4CC6FF;
  padding-right: 6px;
  width: 12px;
  display: inline-block;
}


/* CHARACTER FORM*/

#field-char-proj-groups-values tr td div.field-name-field-char-image{
  float: right;
  width: 150px;
}

/* BT header */

#character-editor-state-form .form-textarea-wrapper{
  margin: 0 0 0 15px;
}

#character-editor-state-form input{
  margin: 30px auto 0 auto;
  display: block;
}

.field-collection-container,
.field-collection-view{
  border: none;
  margin: 0!important;
}

.field-collection-container div.field-label{
  display: block;
  float: left;
}

.field-collection-view .entity-field-collection-item,
.field-collection-container div{
  display: inline;
  width: auto;
}

.field-collection-view .entity-field-collection-item,
.field-collection-container div.character-editor-state-image{
  display: block;
}

.character-editor div.l0{
  background: #F6F6F6;
}

.character-editor .odd div.l0{
  background: #EAEFF6!important;
}

/* Character tree */
#character-editor-tree {
  padding: 0 2px;
  border: 1px solid #AAA;
  background: #EEE;
  position: relative;
}

#character-editor-tree div.character-editor-tree{
  margin-top: 4px;
}

#character-editor-tree .character-editor-tree-arrow{
  color: #047DB8;
  position: absolute;
  height: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
}

#character-editor-tree.character-editor-tree-collapsed {
  cursor: pointer;
}

#character-editor-tree.character-editor-tree-collapsed:hover {
  background: #DDD;
}

#character-editor-tree .character-editor-tree-item {
  margin-bottom: 0.5em;
  background: transparent;
  transition: background 0.05s;
}

#character-editor-tree .character-editor-tree-item:hover {
  background: #DDD;
  cursor: pointer;
}

#character-editor-tree .character-editor-tree-item:hover input {
  cursor: pointer;
}

#character-editor-tree .character-editor-tree-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.character-editor-tree-group-hover {
  border: 1px solid #A5A5A5;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #E8E8E8;
}

.character-editor-tree-group-hover span {
  padding: 4px;
}

#character-editor-tree .character-editor-tree-close {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  color: #047DB8;
  font-weight: bold;
  font-size: 1.5em;
}

#character-editor-tree .character-editor-tree-resize {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: col-resize;
  width: 8px;
  height: 100%;
  z-index: 10;
  border-right: 1px solid #DDD;
}

/* Popup styling (context menu, select box, etc.) */
.character-editor-popup {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 5px 5px 6px 0px rgb(50, 50, 50, 0.3);
}

.character-editor-popup-header {
  border-bottom: 1px solid #AAA;
  font-size: 0.9em;
  font-weight: bold;
}

.character-editor-popup-subtitle {
  background: #EEE;
  text-align: center;
}

.character-editor-popup-separator {
  height: 2px;
  width: 100%;
  margin: 2px 0;
  background: #DDD;
}

.character-editor-popup-row {
  background: #FFF;
  padding: 2px 18px 2px 18px;
}

.character-editor-popup-row-highlight {
  background: #DDD;
}

.character-editor-popup-row:hover {
  background: #DDD;
  cursor: pointer;
}

.character-editor-popup-button{
  background: #EEE;
  border: 1px solid #888;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.character-editor-popup-button:hover,
div.character-editor-popup-button-highlight {
  background: #FFF;
  border: 1px solid #000;
}

#slickgrid .character-context-menu-active-cell{
  border: 1px solid #000;
}


/* Cell metadata */
#slickgrid div.slick-cell:after {
  content: attr(character-flag);
  position: absolute;
  right: 1px;
  bottom: -4px;
  font-size: 0.9em;
  color: #444;
}

#slickgrid div.character-editor-disabled-cell {
  background: #E8E8E8;
}