@CHARSET "UTF-8";

#slickgrid div.slick-headerrow {
  display: none;
}

#slickgrid .slick-cell.l0,
#slickgrid .slick-header-column{
   text-align: left;
}

#slickgrid .slick-cell,
#slickgrid .character{
  text-align: center;
}

.character-editor-inline .bt-content,
.character-editor-header .bt-content{
  background: none;
  border: none;
  text-align: left;
}

.bt-content h2{
  margin: 0;
}

.bt-content span.character-type{
  color: #999;
  margin-bottom: 3px;
  font-size: 0.9em;  
}

.character-editor-inline span{
  display: block;
}

.field-name-field-char-image img{
  border: 1px solid #444;
}


.character-editor-inline span.state-delta,
.bt-content .field-collection-container .field-label{
  color: #4CC6FF;
  padding-right: 6px;
  width: 12px;
  display: inline-block;
}


/* CHARACTER FORM*/

#field-char-proj-groups-values tr td div.field-name-field-char-image{
  float: right;
  width: 150px;
}

/* BT header */

#character-editor-state-form .form-textarea-wrapper{
  margin: 0 0 0 15px;
}

#character-editor-state-form input{
  margin: 30px auto 0 auto;
  display: block;
}

.field-collection-container,
.field-collection-view{
  border: none;
  margin: 0!important;
}

.field-collection-container div.field-label{
  display: block;
  float: left;
}

.field-collection-view .entity-field-collection-item,
.field-collection-container div{
  display: inline;
  width: auto;
}

.field-collection-view .entity-field-collection-item,
.field-collection-container div.character-editor-state-image{
  display: block;
}

.character-editor div.l0{
  background: #F6F6F6;
}

.character-editor .odd div.l0{
  background: #EAEFF6!important;
}

/* Character tree */
#character-editor-tree {
  padding: 0 2px;
  border: 1px solid #AAA;
  background: #EEE;
  position: relative;
}

#character-editor-tree div.character-editor-tree{
  margin-top: 4px;
}

#character-editor-tree .character-editor-tree-arrow{
  color: #047DB8;
  position: absolute;
  height: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
}

#character-editor-tree.character-editor-tree-collapsed {
  cursor: pointer;
}

#character-editor-tree.character-editor-tree-collapsed:hover {
  background: #DDD;
}

#character-editor-tree .character-editor-tree-item {
  margin-bottom: 0.5em;
  background: transparent;
  transition: background 0.05s;
}

#character-editor-tree .character-editor-tree-item:hover {
  background: #DDD;
  cursor: pointer;
}

#character-editor-tree .character-editor-tree-item:hover input {
  cursor: pointer;
}

#character-editor-tree .character-editor-tree-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.character-editor-tree-group-hover {
  border: 1px solid #A5A5A5;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #E8E8E8;
}

.character-editor-tree-group-hover span {
  padding: 4px;
}

#character-editor-tree .character-editor-tree-close {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  color: #047DB8;
  font-weight: bold;
  font-size: 1.5em;
}

/* Character context menu */
#character-context-menu {
  border: 1px solid #AAA;
  background: #EEE;
}

#character-context-menu .character-context-menu-row{
  background: #EEE;
  padding: 2px 4px;
}

#character-context-menu .character-context-menu-row:hover{
  background: #DDD;
  cursor: pointer;
}