div.character-matrix-row{
  width: 100%;
  overflow-x: auto;
}

div.character-matrix-row td.character-matrix-row-disabled{
  background-color: #EBEDED;
}

div.character-matrix-row table,
div.character-matrix-row tbody,
div.character-matrix-row tr,
div.character-matrix-row td {
  height: 100%;
}

div.character-matrix-row tr td {
  padding: 0 0 6px 0;
}

div.character-matrix-row div.character-matrix-row-data {
  padding: 6px 5px 0 5px;
}

div.character-matrix-row div.character-matrix-row-cell {
  height: 100%;
}

div.character-matrix-row div.character-matrix-row-flag {
  font-style: italic;
  font-size: 0.9em;
  height: 1.5em;
  padding: 0 5px;
}
