@CHARSET "UTF-8";

.publication-group{
  margin-bottom: 30px;
  background: #fff url('../images/bg.gif') repeat-y bottom left;
  position: relative;
  min-height: 300px;
}

.publication-group label{
  display: block;
  -webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	height: 200px;
	width: 200px;
	text-transform: uppercase;
  position: absolute;
  top: 30px;
  text-align: right;
  left: 30px;
}

.publication-group .item-list {
  border-top: 1px solid #D6D6D6;
  width: 80px;
}

.publication-group .item-list ul{
  position: absolute;
  bottom: 30px;
  left: 30px;  
}

.publication-group .item-list ul,
.publication-group .item-list ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}



.publication-group .field{
  margin-left: 120px;
  font-family: Georgia,"Times New Roman",Times,serif;
  position: relative;
  z-index: 100;
}

.publication-group .field .field{
  margin-left: 0;
}

.publication-group .field-label{
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0.4em;
}

.publication-group .field .field .field-label{
  font-size: 1em;
}



.publication-group .field-name-field-publication-title{
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2em;
}