.tinytax{
}
.tinytax ul{
 padding:0 !important;
 margin:0 0 0 9px !important;
}
.tinytax li{
 list-style:none;
 line-height:1.2;
 padding:0;
 margin:0;
 vertical-align:middle;
}
.tinytax img{
 padding-right:5px;
}