.tinytax{
}
.tinytax ul{
 padding:0 !important;
 margin:0 0 0 15px !important;
}
.tinytax li{
 list-style:none;
 line-height:1.2;
 padding:2px;
 margin:0;
 vertical-align:middle;
}
.tinytax img{
 padding-right:5px;
}
.tinytax-search-field{
 width:100%;
 padding-left:0 !important;
 padding-right:0 !important;
 margin-left:0 !important;
 margin-right:0 !important;
}
.tinytax-no-focus{
 opacity:0.4;
 filter:alpha(opacity=40);
}
.tinytax-child-count{
 font-size:70%;
 vertical-align:10%;
}
.tinytax-bold{
 text-decoration:none !important;
 font-weight:600;
}
.tinytax .click:hover{
 cursor:pointer;
}