/**
 * @file
 * Administration styles for the theme settings.
 */

.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}
