.dwcarchiver-full-width select,.dwcarchiver-full-width input {
  width: 100% !important;
}

form>div>.fieldset,form>div>table{
  border:2px solid #ccc !important;'
}
form>div>.fieldset>legend>span{
  font-size:120% !important;
}
.fieldset-content .fieldset-content{
  padding: 29px 0 0 0 !important;
}