.twitterscript{
 display:none;
}
.twitterscript-list{
 margin:3px !important;
}
.twitterscript-list li{
 list-style-image:none;
 list-style-type:none;
 margin:5px 0;
 padding:0;
}
.twitterscript-list li img{
 padding:0;
 margin: 0 5px 0 0;
 width:24px;
 height:24px;
 border:solid 1px black;
}