.gm3-region-level-control {
  clear: none;
  margin:0;
  padding:4px 8px;
  color: black;
  font-family: Arial,sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 10px;
  background: white;
  border-width: 1px;
  border-style:solid;
  border-color:rgb(103, 138, 199);
  cursor: pointer;
}

.gm3-region-level-control:hover {
  background: white;
  border-width: 2px;
}
