
/**
 * @file
 * Styles for ip2country module.
 */
#dbthrobber.working {
  background-image: url(/misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% -20px; /* 20px = half height of throbber */
  color: green;
  padding: 0 1.5em 0 0;
}

#dbthrobber.completed {
  color: green;
}

#dbthrobber.message,
#lookup-message.message {
  color: red;
}
