$grey0: #000000;
$grey1: #262626;
$grey2: #3E3E3E;
$grey3: #888888;
$grey4: #999999;
$grey5: #ACACAC;
$grey6: #CCCCCC;
$grey7: #D6D6D6;
$grey8: #E5E5E5;
$grey9: #EDEDED;
$grey10: #F1F4FB;
$grey11: #FFFFFF;

$grey0-alpha: change_color($grey0, $alpha: 0.3);