/**
 * $TABLES
 */
table {
  width: 100%;
  margin-bottom: $vert-spacing-unit;
}

th {
  padding: 0.5em 1em;
  background-color: $mid-blue;
  color: #fff;

  a,
  a.active {
    color: #fff;

    img {
      margin: 2px 3px;
    }
  }
}
td {
  padding: 0.5em 1em;
}

tr.odd {
  background: lighten($pale-blue, 4%);
}
tr.even {
  background: lighten($pale-blue, 8%);
}

caption {
  @extend .delta;
}
